.App {
  display: grid;
  grid-template-columns: 48rem repeat(2, 27.7rem);
  grid-template-areas:
    "temperature air sunTime"
    "temperature week week";
  gap: 2.4rem 3.2rem;
  padding: 4rem;
}

/* All sections */
.box-weather {
  padding: 1.6rem;
  border-radius: 1rem;
  background-color: var(--bg-purple);
}

.title-container-box-weather {
  display: grid;
  grid-template-columns: 2.4rem auto;
  align-items: center;
  gap: 0.8rem;
  padding-top: 1.6rem;
}

.title-box-weather {
  color: var(--text-purple);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.92rem;
}

.first-degrees-box-weather {
  font-weight: 700;
}

.second-degrees-box-weather {
  color: var(--more-light-purple);
  margin-left: 0.5rem;
  font-weight: 700;
}

/* Sun time section */

@media (max-width: 1180px) {
  .App {
    grid-template-columns: auto;
    grid-template-rows: max-content;
    grid-template-areas:
      "temperature temperature"
      "air  sunTime"
      "week week";
  }
}

@media (max-width: 665px) {
  #root {
    place-content: initial;
    height: 100%;
  }
  .App {
    padding: 3rem 2.5rem;
    grid-template-areas:
      "temperature"
      "air"
      "sunTime"
      "week";
  }
  .title-temperature {
    font-size: 6.6rem;
  }

  .degrees-title-temperature {
    font-size: 1.4rem;
  }

  .location-temperature-now::before {
    content: "";
    display: block;
    width: 12rem;
    height: 12rem;

    position: absolute;
    left: -2.6rem;
    top: -6rem;

    background: url(assets/clouds.svg) no-repeat center / cover;
  }
}
