* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-purple: #6d67d0;
    --text-purple: #dad8f7;
    --text-green: #87ebcd;
    --light-purple: #e7e6fb;
    --more-light-purple: #c2bff4;
    font-family: "Lato", sans-serif;
    font-size: 62.5%; /* faz 1rem valer 10px */
}

body {
    font-size: 1.6rem;
}

#root {
    height: 100%;
}
